.review {
    padding: 2% 7% 3% 12%;
    background: linear-gradient(90deg, #f5bf5d, #e74c62);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.review .review-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.review .review-left .review-header {
    color: white;
    font-size: 36px;
}

.review .review-left .header-2 {
    font-size: 30px !important;
}

.review .review-left .review-text {
    color: #fff;
    opacity: .8;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
}

.real-money {
    padding: 4%;
    background-color: white;
    border: none;
    width: 280px;
    border-radius: 20px;
    color: #e74c62;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.real-money:hover {
    background-color: #e74c62;
    color: white;
}